/*
 * Copyright © 2022 Sinclair Broadcast Group
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.

 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

@font-face {
  font-family: 'weathericons';
  src: url('./weather.ttf');
  font-weight: normal;
  font-style: normal;
}

.wi-85:before {
  content: '';
}

.wi-69:before {
  content: '';
}

.wi-78:before {
  content: '';
}

.wi-70:before {
  content: '';
}

.wi-72:before {
  content: '';
}

.wi-87:before {
  content: '';
}

.wi-74:before,
.wi-77:before {
  content: '';
}

.wi-65:before {
  content: '';
}

/*!
 * Night Time Icon Classes
 *
 * Standard Single Glyph Icon
 *
 */
.wi-97:before {
  content: '';
}

.wi-99:before,
.wi-103:before {
  content: '';
}

.wi-107:before {
  content: '';
}

.wi-106:before {
  content: '';
}

.wi-95:before,
.wi-96:before {
  content: '';
}

.wi-98:before,
.wi-102:before {
  content: '';
}

.wi-100:before,
.wi-101:before {
  content: '';
}

/*!
 * Neutral Icon Classes
 *
 * Standard Single Glyph Icon
 *
 */

.wi-67:before {
  content: '';
}

.wi-88:before,
.wi-89:before {
  content: '';
}

.wi-82:before {
  content: '';
}

.wi-79:before,
.wi-90:before {
  content: '';
}

.wi-80:before,
.wi-83:before {
  content: '';
}

.wi-76:before {
  content: '';
}

.wi-84:before,
.wi-116:before {
  content: '';
}

.wi-80:before,
.wi-83:before {
  content: '';
}

.wi-75:before {
  content: '';
}

[class*='wi-stk-'] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.3em;
  width: 1.3em;
  line-height: normal;
}

[class*='wi-stk-']::before,
[class*='wi-stk-']::after,
[class*='wi-stk-'] span::before,
[class*='wi-stk-'] span::after {
  display: block;
  position: absolute;
  white-space: normal;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-indent: 0;
  font-size: 1em;
  font-weight: 400 !important;
  font-style: normal !important;
}

/*  Weather Icons - Stacked Icon
 *  Day Time Icons
 */
.wi-stk-85::before {
  text-align: center;
  vertical-align: middle;
  color: #f8b500;
  content: '\f00d';
}

.wi-stk-69::before {
  color: #f8b500;
  content: '';
}

.wi-stk-69 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-78::before {
  color: #f8b500;
  content: '';
}

.wi-stk-78 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-78 > span::after {
  color: #ffffff;
  content: '';
}

.wi-stk-1002 ::before {
  color: #ffffff;
  content: '';
  transform: translateX(30%);
}
.wi-stk-70::before {
  color: #f8b500;
  content: '';
}
.wi-stk-1001 > span::before {
  color: #ffffff;
  content: '';
}
.wi-stk-70 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-1003 > span::after {
  color: #ffffff;
  content: '';
  transform: translateY(-20%);
}
.wi-stk-70 > span::after {
  color: #ffffff;
  content: '';
}
.wi-stk-1002 ::after {
  color: #ffffff;
  content: '';
  transform: translateY(-38%);
}
.wi-stk-1000 > span::after,
.wi-stk-87::before {
  color: #f8b500;
  content: '';
}

.wi-stk-87 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-87 > span::after {
  color: #ffffff;
  content: '';
}

.wi-stk-74::before,
.wi-stk-77::before {
  color: #f8b500;
  content: '';
}

.wi-stk-74 > span::before,
.wi-stk-77 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-74 > span::after,
.wi-stk-77 > span::after {
  color: #ffffff;
  content: '';
}

.wi-stk-65:before {
  color: #f8b500;
  content: '\f135';
}

.wi-stk-65 > span::before {
  color: #ffffff;
  content: '\f134';
}

.wi-stk-66:before {
  color: #f8b500;
  content: '\f104';
}

.wi-stk-66 > span::before {
  color: #ffffff;
  content: '\f100';
}

.wi-stk-72::before {
  color: #ffffff;
  content: '';
}

/*!
 *  Weather Icons - Stacked Icon
 *  Night Time alt Icons
 */

.wi-stk-99::before,
.wi-stk-103::before {
  color: #f8b500;
  content: '';
}

.wi-stk-99 > span::before,
.wi-stk-103 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-107::before {
  color: #f8b500;
  content: '';
}

.wi-stk-107 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-107 > span::after {
  color: #ffffff;
  content: '';
}
.wi-stk-1004::before,
.wi-stk-106::before {
  color: #f8b500;
  content: '';
}
.wi-stk-1004 > span::before,
.wi-stk-106 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-1004 > span::after {
  color: #ffffff;
  content: '';
}

.wi-stk-106 > span::after {
  color: #ffffff;
  content: '';
}

.wi-stk-1005::before,
.wi-stk-95::before,
.wi-stk-96::before {
  color: #f8b500;
  content: '';
}
.wi-stk-1005 > span::before,
.wi-stk-95 > span::before,
.wi-stk-96 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-95 > span::after,
.wi-stk-96 > span::after {
  color: #ffffff;
  content: '';
}

.wi-stk-95::after,
.wi-stk-96::after {
  color: #ffffff;
  content: '';
}
.wi-stk-1008 ::after,
.wi-stk-1005::after {
  color: #ffffff;
  content: '';
  transform: translateX(15%);
}
/*!
 *  Weather Icons - Stacked Icon
 *  Night Time Icons
 */
.wi-stk-97::before {
  color: #f8b500;
  content: '';
}

.wi-stk-100::before,
.wi-stk-101::before {
  color: #f8b500;
  content: '';
}

.wi-stk-100 > span::before,
.wi-stk-101 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-100 > span::after,
.wi-stk-101 > span::after {
  color: #ffffff;
  content: '';
}

.wi-stk-100::after,
.wi-stk-101::after {
  color: #ffffff;
  content: '';
}

.wi-stk-98::before,
.wi-stk-102::before {
  color: #f8b500;
  content: '';
}

.wi-stk-98 > span::before,
.wi-stk-102 > span::before {
  color: #ffffff;
  content: '';
}

/*!
 *  Weather Icons - Stacked Icon
 *  Neutral Icons
 */

.wi-stk-67::before {
  color: #ffffff;
  content: '';
}
.wi-stk-1008::before,
.wi-stk-1000::before,
.wi-stk-84::before,
.wi-stk-116::before {
  color: #ffffff;
  content: '';
}
.wi-stk-1000 > span::before {
  color: #ffffff;
  content: '';
  transform: translateX(20%);
}
.wi-stk-84 > span::before,
.wi-stk-116 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-84 > span::after,
.wi-stk-116 > span::after {
  color: #ffffff;
  content: '';
}
.wi-stk-1006::before,
.wi-stk-88::before,
.wi-stk-89::before {
  color: #ffffff;
  content: '';
}
.wi-stk-1006 > span::before,
.wi-stk-88 > span::before,
.wi-stk-89 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-1006::after {
  color: #f8b500;
  content: '';
}

.wi-stk-82::before {
  color: #ffffff;
  content: '';
}

.wi-stk-82 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-79::before,
.wi-stk-90::before {
  color: #ffffff;
  content: '';
}
.wi-stk-1007::before,
.wi-stk-1001::before {
  color: #ffffff;
  content: '';
  transform: rotate(-105deg) translateX(-20%) translateY(-50%);
}
.wi-stk-1007::after,
.wi-stk-1001::after {
  color: #ffffff;
  content: '';
  transform: rotate(-105deg) translateX(-30%) translateY(-10%);
}
.wi-stk-1007 > span::before {
  color: #f8b500;
  content: '';
  transform: translateX(20%);
  z-index: -1;
  overflow: hidden;
  height: 60%;
}
.wi-stk-79 > span::before,
.wi-stk-90 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-80::before,
.wi-stk-83::before {
  color: #ffffff;
  content: '';
}

.wi-stk-80 > span::before,
.wi-stk-83 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-76::before {
  color: #ffffff;
  content: '';
}

.wi-stk-76 > span::before {
  color: #ffffff;
  content: '';
}

.wi-stk-75::before {
  color: #ffffff;
  content: '';
}
